
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
    /*max-width: 600px;*/
    margin: 0 auto;
  }
  
  .canvas-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    background-color: #ffffff;
    border-radius: 0px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
    /*max-width: 600px;*/
    margin: 0 auto;
    cursor: pointer; 
  }

  .progressbar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
    padding: 10px; 
    opacity: 0.5;
  }
  
  input[type="file"] {
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
    background-color: #fff;
    color: #3498db;
    cursor: pointer;
    left: 0%;
  }
  

  

  button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #2184b6;
  }
  
  .play-pause-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
    padding: 10px;
    opacity: 0.5;
  }


  .play-pause-icon:hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
    border-radius: 50%; 
    padding: 10px; 
    opacity: 0.77
    
  }
  