.app-container {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    flex-wrap: wrap;
  }
  
  /*.uploader{
    flex-grow: 1;
    padding: 200px;

  }*/
  .left-panel {
    flex: 1;
    padding-left: 10%;
  }
  
  .right-panel {
    flex: 1;
    padding-left: 2%;

  }
  